<!-- _post.html.erb-->
<% if post.image.attached? %>
  <div class="w-full aspect-square overflow-hidden bg-neutral-600 rounded">
    <%= image_tag post.image, class: "w-full h-full object-cover object-center" %>
  </div>
<% end %>
<% if post.user %>
<div class="flex items-center gap-1 mt-3">
 <p class="font-semibold text-lg"><%= post.user.username %></p>
 <p class="text-gray-400"><%= post.user.email %></p>
</div>
<% end %>
<p class=""><%= caption %></p>
